/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-size-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size: 18px;
  --font-family: IBM Plex Mono, Bold, Regular, monospace;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --color-title: #DB00FF;
  --color-epigraph: #000028;
  --epigraph-bg-color: #FF0070;
  --color-main-text: #F1B2CE;
  --color-main-title: #FF0070;
  --color-button: #FF0070;
  --color-decorated: #FF0070;
  --color-decorated-rec: #FF0070;
  --bg-color: #000028;
  --color-main-anchor-link: #F1B2CE;
  --color-shadow-focus: #FF0070;
}